/* ================================= LANGUAGE SELECTION ================================= */
.language {
  position: relative;
  width: 90px;
  margin: 0px 40px 0 20px;
  padding-top: 6px;
}

@media only screen and (max-width: 991px) {
  .language {
    margin: 0 0 10px;
  }
}

.language-selected {
  display: flex;
  align-items: center;
  color:white;
  cursor: pointer;
}

.language-selected::before {
  content:'';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../images/united-kingdom.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.language ul {
  position: absolute;
  width: 125px;
  background-color:#0e7077;
  padding: 5px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  display: none;
}

.language ul li {
  list-style: none;
}

.language ul li:hover {
  background-color: #0e5f65;  
}

.language ul li a::before {
  content:'';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

a.en::before {
  background-image: url("../images/united-kingdom.png");
}
a.fr::before {
  background-image: url("../images/france.png");
}

.language:hover ul {
  display: block;
  margin-left: -10px;
}

.language-selected.change-en::before {
  background-image: url("../images/united-kingdom.png");
}

.language-selected.change-fr::before {
  background-image: url("../images/france.png");
}

/* ================================= MAIN ================================= */

body {
  margin: 0;
  text-align: center;
  font-family: 'SourceSansPro', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  background-color: #d4fbf4;
  line-height: 1.5;
}

body::after {
  background: url("../images/valley.jpg");
  background-attachment: fixed;
  background-size: cover;
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

@media only screen and (max-width: 930px) {
  body::after {
    background: url("../images/valleyimg-resized.jpg");
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
  }
}

h1 {
  font-family: 'PlayfairDisplay', serif;
  font-weight: 700;
}

h2 {
  font-family: 'PlayfairDisplay', serif;
  font-weight: 400;
  /* font-size: 5rem; */
  font-size: 7vh;
}

h3 {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: 300;
  /* font-size: 2.75vh; */
}

li {
  text-align: justify;
  padding: 3px;
}

i {
  margin-right: 5px;
}

/* ================================= CLASSES ================================= */

/* =========== TOP SECTION CLASSES =========== */

.homepage-top-container {
  position: relative;
  font-size: 0;
  left: 0;
  top: 0;
}

.first-text-container {
  margin: none; 
  left: 25%;
  top: 25%;
  position: absolute;
  text-align: center;
}

/* =========== ABOUT ME CLASSES =========== */

.about-me-container {
  padding: 130px 0 0;
  margin: 0 5vw 0 5vw;
  height: 100vh;
  width: 90vw;
}

.profile-img {
  border: 1vh solid;
  border-radius: 50vh;
  border-color: #0e7077;
  width: 25vh;
  margin: 5vh 0 0 0;
}

.intro-text {
  display: inline-block;
  /* font-size: 1.5rem; */
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 10px;
}


/* =========== EXPERIENCE/PROJECTS CLASSES =========== */

.projects-container{
  margin-top: 10vh;
  scroll-margin-top: 5vh;
}

.experience-container{
  margin-top: 10vh;
  scroll-margin-top: 5vh;
}

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block::after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #0a4a50, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background-color: #0e7077;
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #a3e3e9;
  border-radius: 2px;
  padding: 1em;
}

.timeline-content-info {
  background-color: #13959f;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.08);
  border-radius: 2px;
}

.timeline-content-info-title, .timeline-content-info-date {
  display: inline-block;
  padding: 5px;
}

.cd-timeline-content::after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content h3 {
  margin: 0 auto 5px;
}

.cd-timeline-content .cd-date {
  color: rgba(255,255,255,0.7);
  font-size: 0.8125rem;
  display: inline-block;
}

.cd-timeline-content p {
  font-size: 0.8125rem;
  margin: 1em 0;
  line-height: 1.6;
  text-align: justify;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
}

.content-skills {
  font-size: 12px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.job-description-list {
  line-height: 1.5;
  padding-inline-start: 30px;
}

.job-skills {
  background-color: #13969f96;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: white;
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}

.self-employed-project-title {
  font-weight: 500;
}
/* =========== EDUCATION CLASSES =========== */
.education-container {
  padding: 130px 0 20px;
  scroll-margin-top: 5vh;
}

.education-details >li{
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

.education-row {
  display: table;
  margin: auto;
  width: 80%;
}

.edu-column-1, .edu-column-2 {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
  display: block;
  box-sizing: border-box;
  min-height: 220px;
  border-top: solid;
  border-color: #0e7077;
  border-width: 10px;
}

.edu-column-1 {
  background-color: #a3e3e9;
  padding: 60px 0 0;
}

.education-period {
  font-size: smaller;
  margin: 0;
}

.education-location {
  font-size: smaller;
  padding: 10px;
  margin: 0;
}

.degree{
  padding:15px 0 0;
  font-weight: 400;
}

.edu-description-1 {
  font-weight: 400;
}

/* =========== SKILLS CLASSES =========== */
.skills-container {
  padding: 100px 0 0;
  scroll-margin-top: 5vh;
}

.skills-container >.row{
  margin: 0 0 0 5%;
}

/* =========== LANGUAGES CLASSES =========== */

.languages-container{
  padding: 100px 0 0;
  scroll-margin-top: 5vh;
}

/* =========== CONTACT ME CLASSES =========== */

.contact-container{
  padding: 130px 0 0;
  font-size: 1rem;
  scroll-margin-top: 5vh;
}

.btn{
  background-color: #0e7077;
  border: none;
}

.btn:hover{
  background-color: #0a4a50;
}

/* =========== BOTTOM SECTION CLASSES =========== */
.bottom-container {
  background-color: #0e7077;
  margin: 130px 0 0 0;
  padding: 25px 0 0 0;
}

.footer-link{
  color: rgb(211, 219, 226);
  text-decoration: none;
}

.footer-link:hover{
  color: rgb(224, 232, 239);
}

/* ================================= IDS ================================= */
/* =========== TOP SECTION IDS =========== */
#name-text {
  color: rgb(0, 0, 0);
  font-size: 6.5vw;
}

#profession-text {
  font-size: 2.6vw;
}

/* =========== ABOUT ME IDS =========== */
#greeting-header{
  padding: 15px 15px 0;
}

#greeting-name{
  padding: 0 15px 15px;
  /* font-size: 3rem; */
  font-size: 5vh;
}

/* =========== PROJECTS IDS =========== */
.cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.cd-timeline::before {
  content:  '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #0a4a50;
}

/* =========== EDUCATION IDS =========== */

/* =========== CONTACT ME IDS =========== */
#contact-text{
  margin: 50px 30px;
  text-align: center;
}

/* =========== BOTTOM SECTION IDS =========== */
#copyright-text {
  color: #A1BEC0;
  font-size: 0.75rem;
  margin: 0;
  padding: 0 0 5px 0;
}

#credits {
  font-size: 0.75rem;
  color: #A1BEC0;
  margin: 20px 0 0 0;
}


/* ================================= ANIMATIONS ================================= */


/* FADE IN */
.fadeIn {
  animation: fadeIn 2s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
   }
   100% {
    opacity: 1;
   }
}

/* FADE IN FROM THE LEFT */
.fadeInLeft {
  animation: fadeInLeft 2s both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
   }
   100% {
    opacity: 1;
    transform: translateX(0);
   }
}

/* FADE IN FROM THE RIGHT */
.fadeInRight {
  animation: fadeInRight 2s both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
   }
   100% {
    opacity: 1;
    transform: translateX(0);
   }
}

/* FADE IN FROM THE BOTTOM */
.fadeInUp {
  animation: fadeInUp 2s both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
   }
}

/* FADE IN/LEFT/RIGHT/UP QUICKER */

.fadeInLeftFast {
  animation: fadeInLeftFast 1.5s both;
}
.fadeInRightFast {
  animation: fadeInRightFast 1.5s both;
}
.fadeInUpFast {
  animation: fadeInUpFast 1.5s both;
}
.fadeInFast {
  animation: fadeInFast 1.5s both;
}

@keyframes fadeInLeftFast {
  0% {
    opacity: 0;
    transform: translateX(-25px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
   }
}

@keyframes fadeInRightFast {
  0% {
    opacity: 0;
    transform: translateX(25px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
   }
}

@keyframes fadeInUpFast {
  0% {
    opacity: 0;
    transform: translateY(15px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
   }
}

@keyframes fadeInFast {
  0% {
    opacity: 0;
   }
   100% {
    opacity: 1;
   }
}

/* ================================= RESPONSIVENESS ================================= */

@media (min-width: 992px) {
  .edu-column-1 {
    width: 33.33%;
    float: left;
  }

  .edu-column-2 {
    width: 66.67%;
    float: left;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .timeline-content-info-title, .timeline-content-info-date {  
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 1169px) {
  .cd-timeline-content::before {
    top: 20px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #a3e3e9;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
    margin: 0 5%;
  }
  .cd-timeline-content::before {
    top: 30px;
    left: 100%;
    border-color: transparent;
    border-left-color: #a3e3e9;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 30px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #a3e3e9;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}